<template name="homeNews">
  <div class="container">

        <!-- Portfolio animation -->
        <div class="row">
            <div class="col-lg-12">
                <p class="page-header">C</p>
                <p class="page-header">0</p>
                  <p class="page-header">D</p>
                    <p class="page-header">E</p>
                    <p class="page-header">R</p>
                    <p class="page-header">1</p>
                    <p class="page-header">3</p>
                  

            </div>
        </div>
</div>

</template>
